
.new-note {
	display: none;
}
.new-note button {
	margin-top: -5px;
}
.title:hover .new-note {
	display: inline;
}

.delete {
	display: none;
}
.note:hover .delete {
	display: inline;
}

.note {
	cursor: move;
	position: relative;
	padding: 9px;
	margin-bottom: 20px;
	background: #FFFF50;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  transform: rotate(1deg);
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
  border-radius: 5px;
}

.note > * {
	cursor: auto;
}

.view-details{
	text-decoration: none;
}
.estimates {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 5px;
	padding: 3px;
	border: 1px solid #646464;
	border-radius: 20px 15px;
}
.notes-list {
	padding: 9px;
	min-height:100%;
	margin-bottom: 20px;
}